six>=1.10.0
packaging>=16.8
appdirs>=1.4
numpy>=1.9 # for array manipulation and Memory-mapped file
matplotlib>=1.4
combomethod>=1.0
future>=0.16.0
ordered-set>=2.0.2
scipy>=1.1.0
opencv-contrib-python>=3.4
# install RRtoolbox for debugging and development, I must migrate used methods to this project
